.button {
  margin: 0 4px;
  padding: 3px 12px;
  border: none;
  background: var(--color-button);
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}

.button:disabled {
  background: var(--color-button-disabled);
  cursor: default;
}
